# Default values
replicaCount: 1
environment: dev

image:
  repository: nginx
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

nameOverride: ""
fullnameOverride: ""

resources: {}
