apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: prd

resources:
- ../../applications/thesis-simple/base/

patches:
- patch: |-
    - op: replace
      path: /metadata/name
      value: thesis-simple-prod
    - op: replace
      path: /spec/template/spec/containers/0/image
      value: nginx:1.23-alpine  # PROD: CÙNG version với UAT
    - op: replace
      path: /spec/replicas
      value: 3
    - op: add
      path: /spec/template/spec/containers/0/resources
      value:
        requests:
          memory: "256Mi"
          cpu: "250m"
        limits:
          memory: "512Mi"
          cpu: "500m"
  target:
    kind: Deployment
    name: thesis-simple