# Dev environment values
replicaCount: 1

image:
  repository: ghcr.io/o0akin0o/gitops-thesis-demo
  tag: 6c0240153d9a4cd594b6782e584b0e650925f192
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "200m"

environment: development
